<h1>{{title}}</h1>

<div>
    <h2>Search for movie</h2>
    <app-autocomplete [(ngModel)]="search" [minlength]="autocompleteOptions.minlength" [source]="autocompleteOptions.source"></app-autocomplete>
</div>

<div style="left: 400px; position: absolute; top: 0;">
    <h2>Debug info</h2>
    <p>Search value: <input type="text" [(ngModel)]="search"></p>
    <p>Min length:  <input type="text" [(ngModel)]="autocompleteOptions.minlength"></p>

    <div *ngIf="autocompleteOptions.source.length > 0">
        Movies:
        <ul>
            <li *ngFor="let movie of autocompleteOptions.source">{{movie}}</li>
        </ul>
    </div>
</div>